language: cpp

addons:
    apt:
        packages:
        - libpthread-stubs0-dev
        - libgl1-mesa-dev
        - libx11-dev
        - libx11-xcb-dev
        - libxcb-image0-dev
        - libxrandr-dev
        - libxcb-randr0-dev
        - libudev-dev
        - libfreetype6-dev
        - libglew-dev
        - libjpeg8-dev
        - libgpgme11-dev
        - libsndfile1-dev
        - libopenal-dev
        - libjpeg62
        - cmake

env:
    global:
        - DISPLAY=:99

before_install:
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
    - sudo apt-get update -qq
    - pip install --user cpp-coveralls

install:
    - sudo apt-get install -qq g++-8 gcc-8
    - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-8 90
    - sudo update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-8 90
    - sudo apt-get install libsfml-dev
    - sudo apt-get install pulseaudio

before_script:
    - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x24"
    - sleep 3

script:
    - mkdir build && cd build
    - cmake ..  $CMAKE_FLAGS -DBUILD_TESTS=1 -DOS_UBUNTU=1 -DCOVERAGE=1 -DCMAKE_BUILD_TYPE=Debug
    - make
    - ./chip_8_cpp_tests

after_success:
  - gcov --version
  - pip show cpp-coveralls   
  - coveralls --root .. --exclude depends --exclude test --exclude assets --exclude cmake --exclude docs --exclude build/CMakeFiles/3.12.4 --exclude build/CMakeFiles/feature_tests.c --exclude build/CMakeFiles/feature_tests.cxx

matrix:
  include:

  - name: "Linux GCC Dynamic"
    os: linux
    dist: xenial
    compiler: gcc
